{% extends 'base.html.twig' %}
{% block body_class %}index_page{% endblock %}

{% block body %}
  <img src="{{ asset('assets/img/logo.png') }}" class="logo">
  <div class="discribe">
    <p>
      This is the story of a man whose life is a continuous, endless struggle
      for existence. A life that every time ignited a ray of hope, only to
      tragically extinguish it against his heart.
    </p>
    <p>
      This is the story of the <span>Black Swordsman</span>, who treads over
      the heads of others in pursuit of his goal, sparing no one.
    </p>
    <p>
      His sword is a heap of iron, and no mortal is capable of wielding it.
      Only <span>Guts</span> is able to lift it and carve his way to his
      dream, no matter the cost.
    </p>
    <p>
      His path is infinitely difficult and thorny. His past is darkness. His
      future is fear. His present is pain. His methods are cruel and bloody.
      His goal is to kill <span>Griffith</span>...
    </p>
  </div>
    <p>
      This page was for fans of the Berserk universe, just like the author of
      this page.
    </p>
{% endblock %}
